
@{
	ViewData["Title"] = "File Upload";
}

<h1>File Upload</h1>
<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<div class="col-md-10">
			<p>Upload file using this form:</p>
			<input type="file" name="file" id="file" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<input id="uploadFile" type="button" value="Upload" />
		</div>
	</div>
</form>
